<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app" >
       <input type="text" v-model="inputValue">
       <button v-on:click="handleBtnClick">添加任务</button>
       <ul>
           <li v-for="(item,index) in list">{{index}}-{{item}}</li>
           
       </ul>
    </div>

    <script>
        var app = new Vue({
            el:'#app',
            data(){
                return{
                    list:[],
                    inputValue:''
                }
            },
            methods: {
                handleBtnClick(){
                    this.list.push(this.$data.inputValue)
                    this.$data.inputValue = ''
                    //alert(this.$data.inputValue)
                }
            }
        })
    </script>
</body>
</html>